In [ ]:
# pandas topic##  #use for data manuplacation,data analysis, data preprocessing
import pandas as pd
import numpy as np

In [ ]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
data = pd.Series([1,2,3,4,5],index = ["a","b","c","d","e"])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
data.name = "Numbers"

In [ ]:
data.size

5

In [ ]:
data.shape

(5,)

In [ ]:
data.values

array([1, 2, 3, 4, 5])

In [ ]:
data["a"]

np.int64(1)

In [ ]:
data["b"]

np.int64(2)

In [ ]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
data.loc["a"],data.iloc[3]

(np.int64(1), np.int64(4))

In [ ]:
data.loc["a"::2],data.iloc[3] # (method1)

(a    1
 c    3
 e    5
 Name: Numbers, dtype: int64,
 np.int64(4))

In [ ]:
data.loc[["a","c","e"]],data.iloc[3]  #(method2 both we can use)

(a    1
 c    3
 e    5
 Name: Numbers, dtype: int64,
 np.int64(4))

In [ ]:
#Dataframes topic##

In [ ]:
dictionary = {
    "usn": ["3BK22CS006","3BK22CS040","3BK22CS044","3BK22CS043"],
    "name": ["ANKITA","SADHANA","SAKSHI","BHAGYA"],
    "age":  [21,20,24,22],
    "branch": ["CSE","CS","CSE","AI"]
}

In [ ]:
df = pd.DataFrame(dictionary)
df

          usn     name  age branch
0  3BK22CS006   ANKITA   21    CSE
1  3BK22CS040  SADHANA   20     CS
2  3BK22CS044   SAKSHI   24    CSE
3  3BK22CS043   BHAGYA   22     AI

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sample.csv to sample (2).csv

In [ ]:
import pandas as pd
data = pd.read_csv("sample (2).csv")
data

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
0,0,101,Ram,IT,25,50000,2,2021-01-15,Bangalore,4.5
1,1,102,Shyam,HR,30,45000,5,2019-03-10,Mumbai,3.8
2,2,103,Geeta,Finance,28,60000,4,2020-07-22,Delhi,4.2
3,3,104,Anita,IT,35,75000,10,2015-09-30,Bangalore,4.9
4,4,105,Kiran,HR,32,52000,7,2018-06-12,Mumbai,4.1
5,5,106,John,Finance,29,58000,3,2021-11-05,Delhi,3.9
6,6,107,Meena,IT,41,82000,15,2010-04-18,Bangalore,4.8
7,7,108,David,HR,26,48000,2,2022-02-14,Mumbai,3.7
8,8,109,Sara,Finance,38,61000,12,2013-12-01,Delhi,4.3
9,9,110,Arjun,IT,27,54000,4,2020-08-19,Bangalore,4.0
10,10,111,Ravi,HR,33,47000,6,2017-05-23,Mumbai,3.6
11,11,112,Priya,Finance,31,59000,5,2019-09-17,Delhi,4.4
12,12,113,Kunal,IT,45,90000,18,2008-03-11,Bangalore,4.9
13,13,114,Sneha,HR,29,51000,3,2021-07-29,Mumbai,3.5
14,14,115,Vijay,Finance,36,62000,11,2014-01-10,Delhi,4.2
15,15,116,Neha,IT,40,88000,14,2011-10-21,Bangalore,4.7
16,16,117,Amit,HR,34,53000,8,2016-04-05,Mumbai,4.0
17,17,118,Pooja,Finance,30,57000,6,2018-12-12,Delhi,4.1
18,18,119,Rahul,IT,28,56000,4,2020-02-28,Bangalore,3.9
19,19,120,Divya,HR,37,49500,9,2015-06-30,Mumbai,4.3

In [ ]:
data.head(10)    #it takes first 10 #

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
0,0,101,Ram,IT,25,50000,2,2021-01-15,Bangalore,4.5
1,1,102,Shyam,HR,30,45000,5,2019-03-10,Mumbai,3.8
2,2,103,Geeta,Finance,28,60000,4,2020-07-22,Delhi,4.2
3,3,104,Anita,IT,35,75000,10,2015-09-30,Bangalore,4.9
4,4,105,Kiran,HR,32,52000,7,2018-06-12,Mumbai,4.1
5,5,106,John,Finance,29,58000,3,2021-11-05,Delhi,3.9
6,6,107,Meena,IT,41,82000,15,2010-04-18,Bangalore,4.8
7,7,108,David,HR,26,48000,2,2022-02-14,Mumbai,3.7
8,8,109,Sara,Finance,38,61000,12,2013-12-01,Delhi,4.3
9,9,110,Arjun,IT,27,54000,4,2020-08-19,Bangalore,4.0

In [ ]:
data.tail()  #it takes last 5 colomn

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
15,15,116,Neha,IT,40,88000,14,2011-10-21,Bangalore,4.7
16,16,117,Amit,HR,34,53000,8,2016-04-05,Mumbai,4.0
17,17,118,Pooja,Finance,30,57000,6,2018-12-12,Delhi,4.1
18,18,119,Rahul,IT,28,56000,4,2020-02-28,Bangalore,3.9
19,19,120,Divya,HR,37,49500,9,2015-06-30,Mumbai,4.3

In [ ]:
data.describe() ##

,Unnamed: 0,EmpID,Age,Salary,Experience,PerformanceScore
count,20.00000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,9.50000,110.50000,32.700000,59875.000000,7.400000,4.190000
std,5.91608,5.91608,5.449288,13388.796377,4.615762,0.415363
min,0.00000,101.00000,25.000000,45000.000000,2.000000,3.500000
25%,4.75000,105.75000,28.750000,50750.000000,4.000000,3.900000
50%,9.50000,110.50000,31.500000,56500.000000,6.000000,4.150000
75%,14.25000,115.25000,36.250000,61250.000000,10.250000,4.425000
max,19.00000,120.00000,45.000000,90000.000000,18.000000,4.900000

In [ ]:
data.info() #for information #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20 non-null     int64
 1   EmpID             20 non-null     int64
 2   Name              20 non-null     object
 3   Department        20 non-null     object
 4   Age               20 non-null     int64
 5   Salary            20 non-null     int64
 6   Experience        20 non-null     int64
 7   JoiningDate       20 non-null     object
 8   City              20 non-null     object
 9   PerformanceScore  20 non-null     float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.7+ KB

In [ ]:
data.shape # rows and coloum #

(20, 10)

In [ ]:
data.sample() ##it take one sample data ##

,Unnamed: 0,EmpID,Name,Department,Age,Salary,Experience,JoiningDate,City,PerformanceScore
9,9,110,Arjun,IT,27,54000,4,2020-08-19,Bangalore,4.0

In [ ]:
data.Name

0       Ram
1     Shyam
2     Geeta
3     Anita
4     Kiran
5      John
6     Meena
7     David
8      Sara
9     Arjun
10     Ravi
11    Priya
12    Kunal
13    Sneha
14    Vijay
15     Neha
16     Amit
17    Pooja
18    Rahul
19    Divya
Name: Name, dtype: object

In [ ]:
data[["Name","Department", "Salary"]]

     Name Department  Salary
0     Ram         IT   50000
1   Shyam         HR   45000
2   Geeta    Finance   60000
3   Anita         IT   75000
4   Kiran         HR   52000
5    John    Finance   58000
6   Meena         IT   82000
7   David         HR   48000
8    Sara    Finance   61000
9   Arjun         IT   54000
10   Ravi         HR   47000
11  Priya    Finance   59000
12  Kunal         IT   90000
13  Sneha         HR   51000
14  Vijay    Finance   62000
15   Neha         IT   88000
16   Amit         HR   53000
17  Pooja    Finance   57000
18  Rahul         IT   56000
19  Divya         HR   49500

In [ ]:
data[["Name","Department", "Salary"]].head(2)

    Name Department  Salary
0    Ram         IT   50000
1  Shyam         HR   45000

In [ ]:
data[["Name","Department", "Salary"]].head(6)

    Name Department  Salary
0    Ram         IT   50000
1  Shyam         HR   45000
2  Geeta    Finance   60000
3  Anita         IT   75000
4  Kiran         HR   52000
5   John    Finance   58000

In [ ]:
#task1 day9#

In [ ]:
import pandas as pd

products = pd.Series(
    data=[700, 150, 300],
    index=['Laptop', 'Mouse', 'Keyboard']
)
laptop_price = products['Laptop']

first_two = products.iloc[:2]

print("Full Series:")
print(products)

print("\nPrice of Laptop:")
print(laptop_price)

print("\nFirst two products:")
print(first_two)

Full Series:
Laptop      700
Mouse       150
Keyboard    300
dtype: int64

Price of Laptop:
700

First two products:
Laptop    700
Mouse     150
dtype: int64

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test2.csv to test2.csv

In [ ]:
import pandas as pd
data = pd.read_csv("test2.csv")
data

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [ ]:
data.isnull().sum()

Unnamed: 0    0
Name          0
Age           1
Department    0
Salary        1
dtype: int64

In [ ]:
data.isnull()

   Unnamed: 0   Name    Age  Department  Salary
0       False  False  False       False   False
1       False  False  False       False   False
2       False  False  False       False   False
3       False  False   True       False   False
4       False  False  False       False    True
5       False  False  False       False   False

In [ ]:
data

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [ ]:
data.loc[ : ,"Name":"Department"]

      Name   Age Department
0    Alice  25.0         HR
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT
4      Eve  29.0         HR
5    Alice  25.0         HR

In [ ]:
data.loc[ : ,"Name":"Salary"]

      Name   Age Department   Salary
0    Alice  25.0         HR  50000.0
1      Bob  30.0         IT  60000.0
2  Charlie  35.0    Finance  70000.0
3    David   NaN         IT  62000.0
4      Eve  29.0         HR      NaN
5    Alice  25.0         HR  50000.0

In [ ]:
data.loc[ "0" : "1": ,"Name":"Department"]

    Name   Age Department
0  Alice  25.0         HR
1    Bob  30.0         IT

In [ ]:
data.loc[ "1" : "3": ,"Name":"Department"]

      Name   Age Department
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT

In [ ]:
data.iloc[1:4,1:4]

      Name   Age Department
1      Bob  30.0         IT
2  Charlie  35.0    Finance
3    David   NaN         IT

In [ ]:
data.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Department', 'Salary'], dtype='object')

In [ ]:
data.rename(columns={"Name":"N","Age":"A","Department":"D","Salary":"S"},inplace=True)

In [ ]:
data

   Unnamed: 0        N     A        D        S
0           0    Alice  25.0       HR  50000.0
1           1      Bob  30.0       IT  60000.0
2           2  Charlie  35.0  Finance  70000.0
3           3    David   NaN       IT  62000.0
4           4      Eve  29.0       HR      NaN
5           5    Alice  25.0       HR  50000.0

In [ ]:
data.drop("Unnamed: 0",axis=1,inplace=True) #use for delete the unwanted coloum here we droped the unwanted colomn      [axis=0(rows),axis=1(colomn)]

In [ ]:
data

         N     A        D        S
0    Alice  25.0       HR  50000.0
1      Bob  30.0       IT  60000.0
2  Charlie  35.0  Finance  70000.0
3    David   NaN       IT  62000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  50000.0

In [ ]:
data.drop(3,axis=0,inplace=True)      # we droped the david  by using axis=0 #

In [ ]:
data

         N     A        D        S
0    Alice  25.0       HR  50000.0
1      Bob  30.0       IT  60000.0
2  Charlie  35.0  Finance  70000.0
4      Eve  29.0       HR      NaN
5    Alice  25.0       HR  50000.0

In [ ]:
data["update_salary"]=data["S"]+5000 # updated the salary by 5000 in each row

In [ ]:
data

         N     A        D        S  update_salary
0    Alice  25.0       HR  50000.0        55000.0
1      Bob  30.0       IT  60000.0        65000.0
2  Charlie  35.0  Finance  70000.0        75000.0
4      Eve  29.0       HR      NaN            NaN
5    Alice  25.0       HR  50000.0        55000.0

In [ ]:
data["update_salary3"]=data["S"].map(lambda x:x+10000)
data

,N,A,D,S,update_salary,update_salary2,update_salary3
0,Alice,25.0,HR,50000.0,60000.0,60000.0,60000.0
1,Bob,30.0,IT,60000.0,70000.0,70000.0,70000.0
2,Charlie,35.0,Finance,70000.0,80000.0,80000.0,80000.0
4,Eve,29.0,HR,NaN,NaN,NaN,NaN
5,Alice,25.0,HR,50000.0,60000.0,60000.0,60000.0

In [ ]:
data.dropna()

,N,A,D,S,update_salary,update_salary2,update_salary3
0,Alice,25.0,HR,50000.0,60000.0,60000.0,60000.0
1,Bob,30.0,IT,60000.0,70000.0,70000.0,70000.0
2,Charlie,35.0,Finance,70000.0,80000.0,80000.0,80000.0
5,Alice,25.0,HR,50000.0,60000.0,60000.0,60000.0

In [ ]:
data["A"] = data["A"].astype("int")
data.head()

,N,A,D,S,update_salary,update_salary2,update_salary3
0,Alice,25,HR,50000.0,60000.0,60000.0,60000.0
1,Bob,30,IT,60000.0,70000.0,70000.0,70000.0
2,Charlie,35,Finance,70000.0,80000.0,80000.0,80000.0
4,Eve,29,HR,NaN,NaN,NaN,NaN
5,Alice,25,HR,50000.0,60000.0,60000.0,60000.0

In [ ]:
data["A"]>25

0    False
1     True
2     True
4     True
5    False
Name: A, dtype: bool

In [ ]:
data[data["A"]>25]

,N,A,D,S,update_salary,update_salary2,update_salary3
1,Bob,30,IT,60000.0,70000.0,70000.0,70000.0
2,Charlie,35,Finance,70000.0,80000.0,80000.0,80000.0
4,Eve,29,HR,NaN,NaN,NaN,NaN

In [ ]:
data.dropna(inplace=True)
data

,N,A,D,S,update_salary,update_salary2,update_salary3
0,Alice,25,HR,50000.0,60000.0,60000.0,60000.0
1,Bob,30,IT,60000.0,70000.0,70000.0,70000.0
2,Charlie,35,Finance,70000.0,80000.0,80000.0,80000.0
5,Alice,25,HR,50000.0,60000.0,60000.0,60000.0

In [ ]:
data["A"] = data["A"].astype("int64")
data

,N,A,D,S,update_salary,update_salary2,update_salary3
0,Alice,25,HR,50000.0,60000.0,60000.0,60000.0
1,Bob,30,IT,60000.0,70000.0,70000.0,70000.0
2,Charlie,35,Finance,70000.0,80000.0,80000.0,80000.0
5,Alice,25,HR,50000.0,60000.0,60000.0,60000.0

In [11]:
from google.colab import files
uploaded = files.upload()

Saving test2.csv to test2 (1).csv

In [12]:
import pandas as pd
data = pd.read_csv("test2 (1).csv")
data

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David   NaN         IT  62000.0
4           4      Eve  29.0         HR      NaN
5           5    Alice  25.0         HR  50000.0

In [15]:
data["Age"] = data["Age"].fillna(value=data["Age"].mean())
data["Salary"] = data["Salary"].fillna(value=data["Salary"].mean())
data

   Unnamed: 0     Name   Age Department   Salary
0           0    Alice  25.0         HR  50000.0
1           1      Bob  30.0         IT  60000.0
2           2  Charlie  35.0    Finance  70000.0
3           3    David  28.8         IT  62000.0
4           4      Eve  29.0         HR  58400.0
5           5    Alice  25.0         HR  50000.0

In [18]:
data.Age.ffill()

0    25.0
1    30.0
2    35.0
3    28.8
4    29.0
5    25.0
Name: Age, dtype: float64